<li>
  <div class="page">
    <%= image_tag page.picture %>
    <%= link_to page.name, page_path(id: page.id) %>
  </div>
  <div class="data">
    <span class="category"><%= page.category %><span>
    <span class="likes"><%= maybe_nil page.likes %></span>
  </div>
</li>
