/*
 * =SUMMARY
 *
 * MISC
 *
 * LAYOUT
 * INDEX
 *   List
 *
 * SHOW
 *   List
 */

/* =MISC */

/* =VARIABLES */
  /* =TILES */
  $tileWidth: 130px;

  /* =COLORS */
  $blue:      #2E8BCC;
  $green:     #339933;
  $red:       #E51400;
  $yellow:    #ffc40d;
  $orange:    #F09609;
  $pink:      #E671B8;
  $purple:    #7B4F9D;
  $lime:      #8CBF26;
  $magenta:   #FF0097;
  $teal:      #00ABA9;

/* =HERO-UNIT */

@mixin hero-unit {
    padding: 60px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 200;
    line-height: 37.5px;
    color: inherit;
    background-color: #EEE;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/* =TILES */
@mixin tile {
  & {
    margin: 5px;
    display:block;
    cursor: pointer;
    -webkit-perspective: 0;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.2s;
    float: left;
    width: $tileWidth;
    height: $tileWidth;
    text-align:center;
    padding: 5px;
    opacity: 0.80;
    background-color: $blue;
    color: white;

    h1, h2, h3, h4, p { margin-top: $tileWidth/3; }
    a { color: inherit; }
    a:hover { text-decoration: none; }
    img {
      border: 0;
    }
  }
  &:nth-child(4n+1) {
    margin-left: 0;
  }
  &:nth-child(4n
) {
    margin-right: 0;
  }

  &:hover {
    opacity: 1;
  }
  &:hover i {
    opacity: 1 !important;
  }
}

@mixin tile-large($coef) {
  & {
    margin: ($coef / 1.333) * 5px;
    width: $tileWidth * $coef;
    height: $tileWidth * $coef / 1.3;
  }

  &:hover {
    background: rgb(109, 109, 109);
  }

  h1, h2 {
    font-size: ($coef / 2.1) * 42px;
  }
  h3 {
    font-size: ($coef / 2.1) * 24.5px;
  }
  h4 {
    font-size: ($coef / 2.1) * 42px;
  }
}

/* =LAYOUT */
#debug {
  clear: both;
  float: left;
  margin-top: $tileWidth;
}

h1 {
  text-transform: capitalize;
}

#content {
  margin-top: 15px;
}

/* =INDEX */
  /* =Form */
  #content-header {
    text-align: center;
    @include hero-unit;
    padding: 50px;
    margin-bottom: 9px;

    h1 {
      margin-bottom: 15px;
    }

    .btn {
      padding: 7px 10px
    }
    .search-query::-webkit-input-placeholder {
      color: #AAA;
      font-weight: 100;
      font-size: 1em;
      font-style: italic;
    }
  }

  /* =List */
  #page-list {
    margin: 0 0 0 5px;

    li {
      @include tile;
      @include tile-large(2.065);

      h2 {
        text-transform: capitalize;
        margin-top: 15px;
        overflow: hidden;

      }
      h2 strong {
        font-weight: 100;
        height: 150px;
        display: table;
        table-layout: fixed;
        width: $tileWidth * 2.065;
      }
      h2 a {
        display: table-cell;
        vertical-align: middle;
      }
      h3 {
        float: left;
        margin: 0 12px 0 12px;
      }
      .data {
        margin-top: -18px;
      }
      .category {
        text-transform: capitalize;
      }
      .likes {
        margin-top: 1px;
        display: block;
        float: right;
        font-size: 1.6em;
        i {
          float: right;
          margin-top: 5px;
          margin-left: 7px;
          display: block;
          width: 30px;
          height: 29px;
          background: url('/assets/like.png') left center no-repeat;
          opacity: 0.5;
        }
        em {
          float: right;
          font-style: normal;
        }
      }


      .picture {
        display: none;
        height: 200px;
        img {
          width: 200px;
        }
      }
    }
  }
/* =SHOW */

  /* =List */